@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.login {

  margin: 16px auto;
  font-size: 16px;
}


.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}


.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}


.registration-header {
  background: rgb(235, 16, 16);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}


.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}


.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}


.login input[type="submit"]:focus {
  border-color: #05a;
}



.login input[type="button"] {
  background: rgb(179, 34, 34);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="button"]:hover {
  background: rgb(216, 28, 28);
}

.login input[type="button"]:focus {
  border-color: rgb(216, 14, 14)
}

.login-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;


}



@media (min-width: 300px) and (max-width: 800px) {

  .login-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

  }

  .login {
    width: 500px;
  }

}

@media (min-width: 900px) {

  .login-grid p input[type="submit"] {
    margin-left: 185%;
    margin-top: 20px;
  }

  .login-grid p:nth-child(8) {
    display: none;
  }

  .login {
    width: 600px;
  }
}


.box-el {
  padding: 50px;
  position: absolute;
}

.box-info {
  background-color: darkcyan;
  color: #ddd;
}

.box-warning {
  background-color: darkgoldenrod;
  color: #fff;
}

.box-error {
  background-color: darkred;
  color: #fff;
}